@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
$colortopmenu: #28a745;
$roboto: 'Roboto', sans-serif;
$satisfy: 'Great Vibes', cursive;
$font-body: 'Open Sans Condensed', sans-serif;
$bg-top-section: #252525;
$white-color: #cdcdcd ;
$top-section-hover: #ffff;
$color-main-grey: #bdc3c7;

.navbar-custom {
    background-color: $bg-top-section;
    font-family: $roboto;
    > a {
      color: $white-color;
      &:hover {
        color: $top-section-hover;
      }
    }
}

.navbar-product{
  justify-content: center;
}

.center-align {
 text-align: center;
}

.space-product {
  margin-top: 3%;
}

.margin-nav {
  margin-bottom: 2em;

  > a {
    color: $colortopmenu;
    &:hover {
      background-color: $colortopmenu;
      color: $top-section-hover;
    }
  }
}

//card
.first-img {
  display: block;
   position: relative;
   width: 100%;
   height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}


.container-product:hover {
   .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);

  }
  .title {
    top: 90px;
  }

  .product-home-button {
    opacity: 1;
  }
}

.title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.product-home-button {
  position: absolute;
  width: 100%;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px $colortopmenu;
    z-index: 1;
  }
}


//separator
.separator {
  width:100%;
  text-align:center;
  border-bottom: 1px solid $color-main-grey;
  line-height:0.1em;
  margin:10px 0 20px;
  > span {
    border: 1px black;
    background: $top-section-hover;
    padding: 0 10px;
  }
}

.navbar-brand {
  font-family: $satisfy;
  font-size: 3em;
  color: $bg-top-section;
}

.contact {
  display: inline-block;
}

.medsos {
  a {
    color: #7f8c8d;
    &:hover {
      color: $color-main-grey;
    }
  }
}

.btn-email {
  background: $top-section-hover;
  border-color: $colortopmenu;
  color: $colortopmenu;
  &:hover {
    background: $colortopmenu;
    border-color: $colortopmenu;
    color: $top-section-hover;
  }
}
